@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

.heading {
  background-color: blueviolet;
  color: white;
  font-size: 1.4125em;
  padding: 3em 0;
  text-align: center;
}

h1, h2 {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.card {
  margin: 0;
  padding: 3em 0;
  list-style-type: none;
  text-align: left;
}

.recipes {
  background-color: mediumorchid;
}

.a-card {
  font-weight: bold;
  color: white;
}

.a-card + .a-card {
  padding-top: 1em;
}

a {
  text-decoration: none;
  color: white;
}

@media (min-width: 600px) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  .a-card {
    width: 30%;
  }

  .a-card + .a-card {
    padding-top: 0;
  }
}
